---
title: Posts
layout: default.liquid
---
{% for post in collections.posts.pages %}
  <div>
    <h2>{{ post.title }}</h2>
    <a href="{{ post.permalink }}">{{ post.title }}</a>
    {{ post.excerpt }}
  </div>
{% endfor %}

