<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
  </head>
  <body>
	  <div class="container">
		  <div class="column col-4 col-sm-12 float-left bg-dark text-light" style="padding-top: 5em height: 100vh">
			  <h2>{{ page.title }}</h2>
		  </div>
		  <div class="column col-8 col-sm-12 float-right bg-light text-dark">
      {{ page.content }}
		  </div>
	  </div>
  </body>
</html>
